# Git関連
/.git/
/.gitignore

# Bundler設定
/.bundle

# 環境変数ファイル
/.env*

# Rails暗号化キー
/config/master.key
/config/credentials/*.key

# ログ・一時ファイル
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# PIDファイル
/tmp/pids/*
!/tmp/pids/.keep

# ストレージ（アップロードファイル）
/storage/*
!/storage/.keep
/tmp/storage/*
!/tmp/storage/.keep

# アセット・依存パッケージ
/node_modules/
/app/assets/builds/*
!/app/assets/builds/.keep
/public/assets

# CI/CD関連
/.github

# デプロイ設定（Kamal）
/config/deploy*.yml
/.kamal

# 開発環境専用
/.devcontainer

# Docker関連ファイル
/.dockerignore
/Dockerfile*
/compose.yml
