services:
  db:
    image: postgres:18
    restart: always
    environment:
      TZ: Asia/Tokyo
      POSTGRES_PASSWORD: password
      LANG: C.UTF-8
      LC_ALL: C.UTF-8
    volumes:
      - postgresql_data:/var/lib/postgresql
    ports:
      - "5432:5432"
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres"]
      interval: 10s
      timeout: 5s
      retries: 5

  mailcatcher:
    image: schickling/mailcatcher
    ports:
      - "1080:1080"
      - "1025:1025"

  web:
    build:
      context: .
      dockerfile: Dockerfile.dev
    command: bash -c "bundle install && bundle exec bootsnap precompile --gemfile && bin/rails assets:precompile && bin/rails db:prepare && rm -f tmp/pids/server.pid && ./bin/dev"
    tty: true
    stdin_open: true
    volumes:
      - .:/myapp
      - bundle_data:/usr/local/bundle:cached
      - node_modules:/myapp/node_modules
    environment:
      TZ: Asia/Tokyo
      DATABASE_HOST: db
      DATABASE_USERNAME: postgres
      DATABASE_PASSWORD: password
      SMTP_ADDRESS: mailcatcher
      SMTP_PORT: 1025
    ports:
      - "3000:3000"
    depends_on:
      db:
        condition: service_healthy
      mailcatcher:
        condition: service_started

volumes:
  bundle_data:
  postgresql_data:
  node_modules: