services:
  - type: web
    name: mm-app
    env: ruby
    plan: free
    buildCommand: bundle install && corepack enable && yarn install && bundle exec rails assets:precompile && bundle exec rails db:prepare
    startCommand: bundle exec puma -C config/puma.rb
    envVars:
      - key: RAILS_ENV
        value: production
      - key: RAILS_MASTER_KEY
        sync: false
      - key: DATABASE_URL
        fromDatabase:
          name: mm-app-db
          property: externalConnectionString
      - key: RAILS_LOG_TO_STDOUT
        value: enabled
      - key: RAILS_SERVE_STATIC_FILES
        value: enabled
