<div class="row justify-content-center">
  <div class="col-lg-6 col-md-8">
    <div class="card p-4">
      <h1 class="card-title text-center mb-4"><%= t('devise.system_title') %></h1>
      <%# tabsパーシャルが存在する場合、ここで直接呼び出す %>
      <%= yield %> <%# フォーム本体を出力 %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>