<%# トップページへ戻るボタン %>
<div class="text-center mt-4">
  <%= link_to root_path, class: "btn btn-outline-secondary btn-sm" do %>
    <i class="bi bi-house-door me-2"></i>
    <%= t('devise.shared.links.back_to_top') %>
  <% end %>
</div>
