<%# TOPへ戻るボタン（カード内の右下） %>
<div class="text-end mt-4">
  <%= link_to "http://localhost:#{request.port}/", class: "btn btn-outline-secondary btn-sm" do %>
    <i class="bi bi-arrow-left"></i>
    <%= t('landing.back_to_top') %>
  <% end %>
</div>
