<% if resource.errors.any? %>
  <div id="error_explanation" data-turbo-cache="false">
    <h2>
      <%= I18n.t("activerecord.errors.template.header",
                 count: resource.errors.count,
                 model: resource.class.model_name.human) %>
    </h2>
    <p><%= I18n.t("activerecord.errors.template.body") %></p>
    <ul>
      <% resource.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
