<%# app/views/shared/forms/_resource_form.html.erb %>
<%#
  汎用リソースフォームテンプレート
  
  使用箇所: 全リソース（categories, units, materials, products, plans）のnew/edit
  
  必須locals:
  - resource: フォームのモデルインスタンス (@category, @unit, など)
  - title: ページタイトル
  - basic_fields: 基本フィールドのパーシャルパス
  - resource_name: リソース名（複数形、例: 'categories', 'units'）
  
  オプションlocals:
  - detail_fields: 詳細フィールドのパーシャルパス（デフォルト: nil）
  - custom_right_title: 右カラムのカスタムタイトル（デフォルト: nil）
  - form_html: form_with の html オプション（デフォルト: {}）
  - form_data: form_with の data オプション（デフォルト: {}）
%>

<%
  resource = local_assigns[:resource]
  title = local_assigns[:title]
  basic_fields = local_assigns[:basic_fields]
  detail_fields = local_assigns[:detail_fields]
  resource_name = local_assigns[:resource_name]
  custom_right_title = local_assigns[:custom_right_title]
  form_html = local_assigns.fetch(:form_html, {})
  form_data = local_assigns.fetch(:form_data, {})
%>

<% content_for(:title, title) %>

<%= render 'shared/layouts/header_with_actions',
    title: title,
    resource: resource,
    is_form_page: true,
    is_index_page: false,
    is_show_page: false
%>

<%= form_with model: resource, html: form_html, data: form_data, local: true do |f| %>

  <%= render 'shared/forms/resource_two_column_form',
    f: f,
    basic_fields: basic_fields,
    detail_fields: detail_fields,
    resource_name: resource_name,
    custom_right_title: custom_right_title
  %>

  <div style="display:none;">
    <% submit_text = f.object.persisted? ? t('helpers.submit.update') : t('helpers.submit.create') %>
    <% submit_id = form_html[:id] ? "#{form_html[:id].sub('_form', '')}_submit_button" : "hidden-submit-#{dom_id(f.object)}" %>
    <%= f.submit submit_text, id: submit_id %>
  </div>
<% end %>
