<%# resource -> model に変更 %>
<% if model.errors.any? %>
  <div id="error_explanation" class="alert alert-danger" role="alert">
    <h4 class="alert-heading">
      <%= t('errors.messages.not_saved',
            count: model.errors.count,
            resource: model.class.model_name.human)
      %>
    </h4>
    <ul class="mb-0">
      <% model.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </div>
<% end %>
