<%# 必須引数: title %>
<%# アクションボタンはyieldで受け取る %>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0"><%= title %></h1>

  <%# 呼び出し元で定義されたアクションボタン群を描画 %>
  <div class="ms-auto">
    <%= yield %>
  </div>
</div>