<%# 共通エラーメッセージの表示 %>
<%= render 'shared/error_messages', resource: f.object %>

<div class="container-fluid px-4" style="margin-top: 30px;">
  <div class="row d-flex align-items-stretch" style="min-height: calc(100vh - 200px);">

    <% left_column_width = detail_fields.present? ? 'col-md-6' : 'col-md-12' %>

    <%# 左カラム: 基本情報 %>
    <div class="<%= left_column_width %> mb-3 mb-md-0 d-flex">
      <div class="card p-4 w-100 d-flex flex-column">
        <div class="flex-grow-1">
          <%= render basic_fields, f: f %>
        </div>
      </div>
    </div>

    <%# 右カラム: 詳細情報 %>
    <% if detail_fields.present? %>
      <div class="col-md-6 d-flex">
        <div class="card p-4 w-100 d-flex flex-column">
          <div class="flex-grow-1">
            <%= render detail_fields, f: f %>
          </div>
        </div>
      </div>
    <% end %>

  </div>
</div>