<%# app/views/shared/_sortable_buttons.html.erb %>
<div class="mb-3">
  <button data-sortable-table-target="toggleBtn"
          data-action="click->sortable-table#toggleReorderMode"
          class="btn btn-secondary">
    <%= t('common.actions.reorder') %>
  </button>
  <button data-sortable-table-target="saveBtn"
          data-action="click->sortable-table#save"
          class="btn btn-success d-none">
    <%= t('common.save_order') %>
  </button>
  <button data-sortable-table-target="cancelBtn"
          data-action="click->sortable-table#cancel"
          class="btn btn-outline-secondary d-none">
    <%= t('common.cancel') %>
  </button>
</div>