<%= content_for :title, t('admin.stores.new.title') %>

<div class="mb-4">
  <h1 class="h3"><%= t('admin.stores.new.title') %></h1>
</div>

<div class="card">
  <div class="card-body">
    <%= render 'form' %>
  </div>
</div>
