<%# 必須引数: title, resource, is_form_page, is_show_page, is_index_page %>
<%
  title ||= local_assigns[:title]
  resource ||= local_assigns[:resource]
  is_form_page ||= local_assigns[:is_form_page] || false
  is_show_page ||= local_assigns[:is_show_page] || false
  is_index_page ||= local_assigns[:is_index_page] || false
  new_path ||= local_assigns[:new_path]
%>

<div class="d-flex justify-content-between align-items-center mb-4">
  <h1 class="mb-0"><%= title %></h1>

  <%# アクションボタン群 %>
  <div class="ms-auto">
    <%= render 'shared/actions/resource_header_actions',
        resource: resource,
        is_form_page: is_form_page,
        is_show_page: is_show_page,
        is_index_page: is_index_page,
        new_path: new_path
    %>
  </div>
</div>
