<%# 単位フォームフィールド %>
<div class="row">
  <div class="col-md-6">
    <%= form_group_lg(f, :name) %>
  </div>
  <div class="col-md-6">
    <%= form_group_lg(f, :reading) %>
  </div>
</div>

<div class="row">
  <div class="col-md-6">
    <%= form_group_lg(f, :category,
        field_type: :select,
        choices: Resources::Unit.categories.keys.map { |k| [I18n.t("activerecord.enums.resources/unit.category.#{k}"), k] },
        select_options: { include_blank: t('helpers.prompt.select') }
    ) %>
  </div>
</div>

<%= form_group_lg(f, :description,
                  field_type: :text_area,
                  character_counter: true,
                  max_length: Resources::Unit::DESCRIPTION_MAX_LENGTH),
                  help_text: t('helpers.character_counter.max_hint', max: Resources::Material::DESCRIPTION_MAX_LENGTH) %>
