<%# 単位一覧画面 %>
<%= content_for(:title, t('units.index.title')) %>

<%= render 'shared/layouts/header_with_actions',
    title: t('units.index.title'),
    resource: nil,
    is_index_page: true,
    is_form_page: false,
    is_show_page: false,
    new_path: scoped_path(:new_resources_unit_path) %>

<div data-controller="resource-search">
  <%
    name_with_reading = Proc.new do |unit|
      if unit.reading.present?
        "#{unit.name} <span class='text-muted small'>（#{unit.reading}）</span>".html_safe
      else
        unit.name
      end
    end

    search_name = Proc.new do |unit|
      if unit.reading.present?
        "#{unit.name} #{unit.reading}"
      else
        unit.name
      end
    end
  %>

  <%= render 'shared/components/resource_list',
      resources: @units,
      resource_class: Resources::Unit,
      search_target: :category,
      sort_options: [
        [t('units.index.sort_options.name'), 'name'],
        [t('units.index.sort_options.category'), 'category'],
        [t('units.index.sort_options.created_at'), 'created_at']
      ],
      sort_placeholder: t('units.index.sort_placeholder'),
      icon_mode: true,
      copy_url_method: :copy_resources_unit_path,
      search_name_proc: search_name,

      columns: [
        { header: :name, data: name_with_reading },
        { header: :category,
          data: Proc.new { |unit| translate_enum_value(unit, :category) }
        }
      ]
  %>

  <%= paginate @units, theme: 'bootstrap-5' %>
</div>
