<%# フォームのアクションリンク（キャンセル・送信ボタン） %>
<% 
  resource = local_assigns[:resource]
  back_url = local_assigns[:back_url]
  scope = local_assigns[:scope] # 追加: scope を受け取る
  form_object = local_assigns[:f] # 追加: form object を受け取る
%>

<% if resource.persisted? %>
  <% final_back_url = back_url.presence || resource %>
<% else %>
  <% if scope.present? %>
    <% resource_list_path = send([scope, resource.class.model_name.route_key].flatten.join('_') + '_path') %>
  <% else %>
    <% resource_list_path = send(resource.class.model_name.route_key + '_path') %>
  <% end %>
  <% final_back_url = back_url.presence || resource_list_path %>
<% end %>

<div class="d-flex gap-2">
  <%= link_to t('helpers.link.cancel'), final_back_url, class: 'btn btn-secondary' %>
  <%= form_object.submit resource.persisted? ? t('helpers.submit.update') : t('helpers.submit.create'), class: 'btn btn-primary' %>
</div>
