<%# フォームアクションボタン %>
<%#
  機能:
  - キャンセルと送信ボタンを表示
  - 編集時は詳細へ、新規作成時は一覧へ戻る

  必須引数:
  - f: フォームビルダー
  - resource: 対象リソース

  オプション引数:
  - back_url: 戻り先URL (デフォルト: 自動判定)
%>
<% f = local_assigns[:f] %>
<% resource = local_assigns[:resource] %>
<% back_url = local_assigns[:back_url] %>

<% if resource.persisted? %>
  <% final_back_url = back_url.presence || resource %>
<% else %>
  <% resource_list_path = send(resource.class.model_name.route_key + '_path') %>
  <% final_back_url = back_url.presence || resource_list_path %>
<% end %>

<div class="d-flex justify-content-end gap-2">
  <%= render 'shared/actions/cancel_link', url: final_back_url %>
  <%= render 'shared/actions/submit_button', f: f, resource: resource %>
</div>
