<%# フォームのアクションリンク(キャンセル・送信ボタン) %>
<% 
  resource = local_assigns[:resource]
  back_url = local_assigns[:back_url]
  scope = local_assigns[:scope]
  form_object = local_assigns[:f]
%>

<% if back_url.present? %>
  <% final_back_url = back_url %>
<% else %>
  <% if scope.present? %>
    <% back_path_method = "#{Array(scope).join('_')}_#{resource.class.model_name.route_key}_path".to_sym %>
    <% final_back_url = scoped_path(back_path_method) %>
  <% else %>
    <% back_path_method = "#{resource.class.model_name.route_key}_path".to_sym %>
    <% final_back_url = scoped_path(back_path_method) %>
  <% end %>
<% end %>

<div class="d-flex justify-content-end gap-2 mt-4">
  <%= link_to t('common.cancel'), final_back_url, class: 'btn btn-secondary' %>
  <%= form_object.submit resource.persisted? ? t('common.update') : t('common.create'), class: 'btn btn-primary' %>
</div>
