<%# å¿…é ˆå¼•æ•°: resource, new_path, is_show_page, is_index_page %>
<% resource = local_assigns[:resource] %>
<% new_path = local_assigns.fetch(:new_path, nil) %>

<%# ã‚ªãƒ—ã‚·ãƒ§ãƒ³å¼•æ•°: is_show_page, is_index_page %>
<% is_show_page = local_assigns.fetch(:is_show_page, false) %>
<% is_index_page = local_assigns.fetch(:is_index_page, false) %>

<%# ç”»é¢ä¸Šéƒ¨ã®å³å´ã«ã‚¢ã‚¯ã‚·ãƒ§ãƒ³ã‚’é…ç½®ã™ã‚‹ã‚³ãƒ³ãƒ†ãƒŠ %>
<div class="actions-container d-flex flex-grow-0">

    <%# 1. è©³ç´°ç”»é¢ã®ã‚¢ã‚¯ã‚·ãƒ§ãƒ³ (ç·¨é›† / å‰Šé™¤) ã®ã‚°ãƒ«ãƒ¼ãƒ—åŒ– %>
    <% if is_show_page && resource.present? %>
      <div class="d-flex me-2"> <%# ðŸ‘ˆ ç·¨é›†/å‰Šé™¤ãƒœã‚¿ãƒ³ã‚’ä¸€ã¤ã®ã‚°ãƒ«ãƒ¼ãƒ—ã«ã¾ã¨ã‚ã‚‹ %>
        <%= render 'shared/actions/edit_link', url: url_for([:edit, resource]), custom_class: 'me-2 flex-grow-0 w-auto' %>
        <%= render 'shared/actions/delete_link', url: resource, resource_name: resource.class.model_name.human, custom_class: 'me-2 flex-grow-0 w-auto' %>
      </div>
    <% end %>

    <%# 2. æˆ»ã‚‹ãƒœã‚¿ãƒ³ ã®é…ç½® %>
    <% if resource.present? %>
      <% resource_list_path = send(resource.class.model_name.route_key + '_path') %>
      <%= render 'shared/actions/back_link', url: resource_list_path, custom_class: 'flex-grow-0 w-auto' %> <%# ðŸ‘ˆ ã“ã“ã¯ me-2 ä¸è¦ %>
    <% end %>
</div>