<div class="row">
  <%# 左カラム %>
  <div class="col-md-6">
    <div class="mb-4">
      <%= f.label :name, class: "form-label h5" %>
      <%= f.text_field :name, class: "form-control form-control-lg" %>
    </div>
  </div>

  <%# 右カラム %>
<div class="col-md-6">
  <div class="mb-4">
    <%= f.label :category, class: "form-label h5" %>

    <%= f.select :category,
      Unit.categories.keys.map { |k|
        [I18n.t("activerecord.enums.unit.category.#{k}"), k]
      },
      { include_blank: t('helpers.prompt.select'), selected: nil },
      { class: "form-select form-select-lg" } %>
  </div>
</div>