<%# units: ローカル変数として渡された単位のコレクション %>
<table class="table mt-4">
  <thead class="table-light">
    <tr>
      <th>単位名</th>
      <th>分類</th>
      <th>操作</th>
    </tr>
  </thead>
  <tbody>
    <% units.each do |unit| %>
      <tr>
        <td><%= unit.name %></td>
        <td><%= unit.category %></td>
        <td>
          <%= link_to '編集', edit_unit_path(unit) %>

          <%= button_to '削除', unit_path(unit),
              method: :delete,
              class: "btn btn-danger btn-sm",
              form: { style: "display: inline-block;" } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>