<%= paginate @units, theme: 'bootstrap-5' %>
<h1><%= t('units.index.title') %></h1>
<%= render 'shared/resource_list',
    resources: @units,
    new_path: new_unit_path,
    resource_class: Unit,
    show_action_link: false,
    search_target: :category,
    columns: [
      { header: :name, data: :name },
      { header: :category,
        data: Proc.new { |unit| translate_enum_value(unit, :category) }
      }
    ]
%>

<%# ページネーションはラッパーの外側で呼び出す %>
<%= paginate @units, theme: 'bootstrap-5' %>