<%# 1. カテゴリ名 (name) %>
<div class="mb-3">
  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<%# 2. カテゴリ種別 (category_type) %>
<div class="mb-3">
  <%= f.label :category_type, class: "form-label" %>

  <%# 選択肢の表示を整えるため humanize を使用し、Bootstrapのフォームクラスを適用 %>
  <%= f.select :category_type, Category.category_types.keys.map { |k| [k.humanize, k] }, {}, class: "form-select" %>
</div>
