<%# カテゴリ名 %>
<div class="mb-3">
  <%= f.label :name, class: "form-label" %>
  <%= f.text_field :name, class: "form-control" %>
</div>

<%# カテゴリ種別をメソッド仕様に修正%>
<div class="mb-3">
  <%= f.label :category_type, class: "form-label" %>
  <%= f.select :category_type,
      Category.category_types.keys.map { |k|
        [I18n.t("activerecord.attributes.category.category_types.#{k}"), k]
      },
      { prompt: t('search.placeholders.select_type') },
      class: "form-select" %>
</div>
