<div class="row">
  <div class="col-md-6">
    <%= form_group_lg(f, :name) %>
  </div>
  <div class="col-md-6">
    <%= form_group_lg(f, :category_type,
        field_type: :select,
        choices: Category.category_types.keys.map { |k| [I18n.t("activerecord.enums.category.category_type.#{k}"), k] },
        select_options: { include_blank: t('helpers.prompt.select'), selected: nil }
    ) %>
  </div>
</div>

<div class="row">
  <div class="col-12">
    <div class="mb-3">
      <%= f.label :description, Category.human_attribute_name(:description), class: 'form-label' %>
      <%= f.text_area :description, rows: 3, class: 'form-control' %>
    </div>
  </div>
</div>
