<%# 一時的な土台を作成 %>
<h1>カテゴリー一覧</h1>

<table class="table">

  <tbody>
    <% @categories.each do |category| %>
      <tr>
        <td><%= category.name %></td>

        <td>
          <%# リンク先は category オブジェクトから自動生成 %>
          <%= link_to '詳細', category %> |

          <%= link_to '編集', edit_category_path(category) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%# 新規作成ページへの導線%>
<%= link_to '新規カテゴリー作成', new_category_path, class: "btn btn-primary mt-3" %>
