<%= paginate @categories, theme: 'bootstrap-5' %>
<h1><%= t('categories.index.title') %></h1>
<%= render 'shared/resource_list',
    resources: @categories,
    new_path: new_category_path,
    resource_class: Category,
    show_action_link: false,
    search_target: :category_type,

    columns: [
      { header: :name, data: :name },
      {header: :category_type,
        data: Proc.new { |category| translate_enum_value(category, :category_type) }
      }
    ]
%>


<%= paginate @categories, theme: 'bootstrap-5' %>