<%= paginate @categories, theme: 'bootstrap-5' %>
<h1><%= t('categories.index.title') %></h1>
<%= render 'shared/resource_list',
    resources: @categories,
    new_path: new_category_path,
    resource_class: Category,
    show_action_link: false,
    search_target: :category_type,

    columns: [
      { header: :name, data: :name },
      # ヘッダー名には元の属性名（category_type）を、データにはメソッド名（category_type_i18n）を渡す
      { header: :category_type, data: :category_type_i18n }
    ]
%>


<%= paginate @categories, theme: 'bootstrap-5' %>