<%# メールアドレス変更通知 %>
<%#
  機能:
  - メールアドレス変更時に送信される通知メール
  - 変更前のメールアドレスに送信

  変数:
  - @email: 変更前のメールアドレス
  - @resource: ユーザーリソース
%>
<p><%= t('devise.mailer.email_changed.greeting', email: @email) %></p>

<% if @resource.try(:unconfirmed_email?) %>
  <p><%= t('devise.mailer.email_changed.message_unconfirmed', unconfirmed_email: @resource.unconfirmed_email) %></p>
<% else %>
  <p><%= t('devise.mailer.email_changed.message_confirmed', email: @resource.email) %></p>
<% end %>
