<%# パスワード変更通知 %>
<%#
  機能:
  - パスワード変更時に送信される通知メール
  - セキュリティ確認のための通知

  変数:
  - @resource: ユーザーリソース
%>
<p><%= t('devise.mailer.password_change.greeting', email: @resource.email) %></p>

<p><%= t('devise.mailer.password_change.message') %></p>
