<%= content_for :title, t('admin.users.edit.title') %>

<%= render 'shared/layouts/header_with_actions',
  title: t('admin.users.edit.title'),
  back_path: admin_users_path %>

<div class="card">
  <div class="card-body">
    <%= render 'form', user: @user %>
  </div>
</div>
