<%= content_for(:title, t('admin.users.index.title')) %>

<div data-controller="resource-search">
  <%= render 'shared/layouts/header_with_actions',
    title: t('admin.users.index.title'),
    resource: nil,
    is_index_page: true,
    is_form_page: false,
    is_show_page: false,
    new_path: new_admin_user_path,
    new_button_text: t('admin.users.index.actions.invite'),
    skip_store_check: true %>

  <%= render 'shared/components/resource_list',
      resources: @users,
      resource_class: User,
      search_target: nil,
      sort_options: nil,
      sort_placeholder: nil,
      icon_mode: true,
      show_copy: false,
      scope: [:admin],

      columns: [
        { header: :tenant, data: Proc.new { |user| user.tenant&.name || t('admin.users.index.not_set') } },
        { header: :name, data: Proc.new { |user| user.name } },
        { header: :email, data: Proc.new { |user| user.email } },
        {
          header: :role,
          data: Proc.new { |user|
            if user.super_admin?
              content_tag(:span, t('admin.users.index.role_badges.super_admin'), class: 'badge bg-danger')
            elsif user.company_admin?
              content_tag(:span, t('admin.users.index.role_badges.company_admin'), class: 'badge bg-warning')
            elsif user.store_admin?
              content_tag(:span, t('admin.users.index.role_badges.store_admin'), class: 'badge bg-info')
            else
              content_tag(:span, t('admin.users.index.role_badges.general'), class: 'badge bg-secondary')
            end
          }
        },
        { header: :store, data: Proc.new { |user| user.store&.name || '-' } },
        { header: :created_at, data: Proc.new { |user| l(user.created_at.to_date, format: :default) } }
      ]
  %>

  <%= paginate @users, theme: 'bootstrap-5' %>
</div>
