<%= content_for :page_title, "#{@material.name} - #{t('materials.edit.title')}" %>
<div class="mb-4">
  <h2>
    <%= "#{@material.name} - #{t('materials.edit.title')}" %>
  </h2>
</div>
<%# パーシャルでインスタンス変数をmaterialで扱える %>
<%= render 'form', material: @material %>