<%= paginate @materials, theme: 'bootstrap-5' %>
<h1><%= t('materials.index.title') %></h1>
<%= render 'shared/resource_list',
    resources: @materials,
    new_path: new_material_path,
    resource_class: Material,
    search_target: :category_id,

    columns: [
      { header: :name, data: :name },
      { header: :category, data: :category_name_for_display },
      { header: :unit_for_product, data: :unit_for_product_name },
      { header: :unit_weight_for_product, data: :unit_weight_for_product },
      { header: :unit_for_order, data: :unit_for_order_name },
      { header: :unit_weight_for_order, data: :unit_weight_for_order }
    ]
  %>

<%# ページネーションはラッパーの外側で呼び出す %>
<%= paginate @materials, theme: 'bootstrap-5' %>