
<%# flexコンテナの子要素を左右を均等にして上下も中央揃えにする %>
<div class="d-flex justify-content-between al">
  <h2><%= t('materials.new.title') %></h2>
</div>
<%# 'card'で丸枠%>
<div class="card p-4 shadow-sm">
  <%# 共通パーシャル呼び出し %>
  <%= render 'form'%>
</div>

