<% material_class = @material.class %>
<% resource = @material %>
<% material_name = @material.name %>

<% title = t('materials.show.title', material_name: material_name) %>

<%# ページタイトル %>
<%= content_for :page_title, title %>

<%# ヘッダータイトル %>
<%= render 'shared/header_with_actions', title: title do %>

  <%# アクションパーシャル %>
  <%= render 'shared/actions/resource_header_actions',
      is_show_page: true,
      resource: @material
  %>
<% end %>


<div class="card p-4 mb-4 shadow-sm">
  <%= render 'material_details', material: @material %>
</div>