<%# 発注グループフォームフィールド %>
<div class="row">
  <div class="col-md-6">
    <%= form_group_lg(f, :name) %>
  </div>
  <div class="col-md-6">
    <%= form_group_lg(f, :reading) %>
  </div>
</div>

    <div class="form-text mt-2">
      <%= t('material_order_groups.form.name_help') %>
    </div>

