<%# 発注グループ一覧画面 %>
<% content_for(:title, t('material_order_groups.index.title')) %>

<%= render 'shared/layouts/header_with_actions',
    title: t('material_order_groups.index.title'),
    resource: nil,
    is_index_page: true,
    is_form_page: false,
    is_show_page: false,
    new_path: new_resources_material_order_group_path %>

<div data-controller="resource-search">
  <%
    name_with_reading = Proc.new do |group|
      if group.reading.present?
        "#{group.name} <span class='text-muted small'>（#{group.reading}）</span>".html_safe
      else
        group.name
      end
    end

    search_name = Proc.new do |group|
      if group.reading.present?
        "#{group.name} #{group.reading}"
      else
        group.name
      end
    end
  %>

  <%= render 'shared/components/resource_list',
      resources: @material_order_groups,
      resource_class: Resources::MaterialOrderGroup,
      search_target: nil,
      sort_options: [
        [t('material_order_groups.index.sort_options.name'), 'name'],
        [t('material_order_groups.index.sort_options.created_at'), 'created_at']
      ],
      sort_placeholder: t('material_order_groups.index.sort_placeholder'),
      icon_mode: true,
      search_name_proc: search_name,

      columns: [
        { header: :name, data: name_with_reading },
        {
          header: :materials_count,
          data: Proc.new { |group|
            if group.materials.any?
              "<span class=\"badge bg-info text-dark\">#{group.materials.count}#{t('common.count_suffix')}</span>".html_safe
            else
              "<span class=\"text-muted\">#{t('material_order_groups.index.unused')}</span>".html_safe
            end
          }
        }
      ]
  %>

  <%= paginate @material_order_groups, theme: 'bootstrap-5' %>
</div>
