<%#概要コンテンツ表示 %>
<% content = local_assigns[:content] %>

<% if content.present? %>
  <div class="w-100 text-dark" style="font-size: 1.1em;">
    <%= simple_format(content) %>
  </div>
<% else %>
  <span class="text-muted" style="font-size: 1.1em;">
    <%= t('helpers.no_setting') %>
  </span>
<% end %>
