<% content_for(:title, t('plans.new.title')) %>
<h1><%= t('plans.index.title') %></h1>
<%= render('shared/resource_list',
    # I18nのキーではなく、直接タイトルを指定
    title: t('.title'),
    resources: @plans,
    new_path: new_plan_path,
    resource_class: Plan,

    columns: [
      # Planモデルのカラムを定義
      { header: :name, data: :name },
      { header: :category_id, data: :category_name_for_display },
      { header: :status, data: :translated_status }
    ]
) %>
